* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(238, 238, 238); */
}

#header {
    background-color: rgba(0, 0, 0, .43);;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0 5px 70px;
    /* border-style: solid;
    border-width: 1px; */
}

#logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-pic {
    width: 45px;
    margin-right: 10px;
}

#logo-text {
    font-size: 30px;
    margin-right: 450px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
}

#nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#nav-list li {
    margin: 0 50px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.nav-links {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#main-pic-div {
    background-image: url(../images/violin-pic.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}

#pic-text-div {
    margin: 230px 0px 0px 80px;
    width: 20vw;
}

#pic-text {
    font-family: 'Allison', cursive;
    font-size: 90px;
    line-height: 85px;
}

#h1-features-div {
    margin-top: 30px;
}

.h1-sections {
    font-family: 'ZCOOL KuaiL', cursive;
}

#features {
    /* margin-top: 30px; */
    width: 70vw;
}

.feature {
    display: flex;
    margin: 90px 0;
}

.h2-features {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.p-features {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.feature-pic-divs {
    margin-right: 60px;
    display: flex;
    align-items: center;
}

#premium-materials-pic-div {
    width: 70px;
}

#premium-materials-pic {
    width: 50px;
    padding: 0 10px;
}

#fast-shipping-pic {
    width: 70px;
}

#quality-assurance-pic {
    width: 70px;
}

#video-max-width {
    max-width: 300px;
}

#video-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

#video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}